/**
 * @author afmika
 * This project is under the MIT License
 */

/*  Hover effect */
button:hover {
    opacity: 0.8;
}

/* basics */
.btn-color-danger {
    width: auto;
    padding: 10px 18px;
    background-color: var(--color-danger);
}

.btn-color-success {
    width: auto;
    padding: 10px 18px;
    background-color: var(--color-success);
}

/* All classes with btn-color-*/
[class*="btn-color-"] {
    width: auto;
    padding: 10px 18px;
    font-weight: bold;
}
.btn-color-primary {  background-color: var(--color-primary); }
.btn-color-danger {  background-color: var(--color-danger); }
.btn-color-dark { background-color: var(--color-dark); }
.btn-color-very-dark { background-color: var(--color-very-dark); }

/* basic style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none; /* flat design */
}
/* 
    Large buttons (use 100% the size of its container)
    Useful for form buttons 
 */
.btn-large {
    cursor: pointer;
    width: 100%;
}