/**
 * @author afmika
 * This project is under the MIT License
 */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > .flex-it {
    width: var(--standard-column-width); /* standard width for a single column */
    margin: var(--standard-flex-margin); /* margin between each column */
}

.flex-container > .push-it {
    margin-left: auto;
}