/**
 * @author afmika
 *
 * This project is under the MIT License
 */

.global_container {
    width: 400px;
}

html, body {
    font-family: var(--standard-global-font);
}

.center { margin: auto; }
.txt-at-center { text-align: center; }
.txt-at-left { text-align: left; }
.txt-at-right { text-align: right; }

/* Bordered form */
.basic-form {
    border: 5px solid var(--color-border);
}

/* Full-width inputs */
.basic-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.basic-img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

.basic-container {
    padding: var(--standard-padding);
}

/* if the screen width is <= 400px */
@media screen and (max-width: 400px) {
    .global_container {
        width: 100%;
    }
}

.text-color-primary {  color: var(--color-primary); }
.text-color-success { color: var(--color-success); }
.text-color-danger {  color: var(--color-danger); }
.text-color-dark { color: var(--color-dark); }
.text-color-very-dark { color: var(--color-very-dark); }

.text-bold { font : bold; }