/**
 * @author afmika
 *
 * This project is under the MIT License
 */

.global_container {
    width: 400px;
}

.center {
    margin: auto;
}

/* Bordered form */
form {
    border: 5px solid var(--color-border);
}

/* Full-width inputs */
.basic-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.basic-img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.basic-logo {
    width: 30%;
    border-radius: 50%;
}

/* Add padding to containers */
.basic-container {
    padding: var(--standard-padding);
}

/* if the screen width is <= 400px */
@media screen and (max-width: 400px) {
    .global_container {
        width: 100%;
    }
}